body{
  font-size: small;
  margin: 1em;
}
.messages {
  font-size: small;
}



.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}
